/*=====================
  Header
  =====================*/


/*------Navigation------*/
nav{
	margin: auto;
	float: right;
	clear: both;
}

nav li a {
	color: #9AD12E;
	font-size: 30px;
	font-family: 'Duru Sans', sans-serif;
}

nav .active a{
	background-color: #FFF !important;
	color: #D95C9F !important;
}

nav a:hover{
	background-color: #FFF !important;
	color: #579BD9;
}

/*-----Logo------*/
.logoWords{
	color: #9AD12E;
}

header a:hover{
	text-decoration: none;
}


.phoneNumber{
	float: right;
	color: #579BD9;
	display: block;
	clear: both;
}

/*=====================
  Main Section 
  =====================*/
body{
	margin: auto;
	height: 100%;
	margin-bottom: -143px;
}

/*----Carousel Images---*/
.item img{
	margin: auto;
}

.carousel{
	clear:both;
}

.homeTitles h2{
	color: #579BD9;
}

.homeTitles a:hover{
	color: #9AD12E;
	text-decoration: none;
}

.pageTitle{
	color: #579BD9;
}

  /*=====================
  Footer
  =====================*/

  footer{
  	
  	background-color: #EEE;
  }

  .footerBox{
	text-align: center;
	color: #579BD9;
  }